
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.frame {
  padding: 0 20px;
  width: 100%;
}

.header {
  margin-top: calc(50vh - 120px);
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0;
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}

.cover > source,
.cover > img {
  width: 100%;
  margin-top: 20px;
  height: calc(100vh - (20px * 2));
  max-height: calc((100vw - (20px * 2)) / 2 * 3); /* Don't exceed an aspect ratio of 3/2 */
  -o-object-fit: cover;
     object-fit: cover;
}

.cover-footer > source,
.cover-footer > img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.texts {
  margin-bottom: 20px;
}

.texts__item {
  margin-top: 50px;
}

.texts__item__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0.5em 0;
}

.texts__item__content {
  margin-top: 0.5em;
  font-size: 18px;
  line-height: 1.6;
}

.texts__item__content__link {
  color: #8397B8;
  text-decoration: none;
}
.texts__item__content__link:hover {
  text-decoration: underline;
}

.projects {
  margin-top: 20px;
}
.projects__title__text {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.project {
  margin-bottom: 40px;
}
.project__image {
  width: 100%;
  border-radius: 4px;
}
.project__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  margin: 0.5em 0 2px;
}
.project__info {
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  color: #AAA;
  font-weight: 500;
}
.project__content {
  margin: 8px 0 6px;
  font-size: 18px;
  line-height: 1.6;
}
.project__content__link {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #8397B8;
  text-decoration: none;
}
.project__content__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 350px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  .frame {
    padding: 0 10vw;
  }

  .header {
    margin-top: calc(50vh - 180px);
  }

  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 40px;
  }

  .cover > source,
  .cover > img {
    margin-top: 30px;
  }

  .texts__item__title {
    font-size: 28px;
  }

  .projects__title__text {
    font-size: 28px;
  }

  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .project {
    width: 46%;
  }

  .project__title {
    font-size: 28px;
  }

  .footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 860px) {
  .frame {
    padding: 0 40px;
  }

  .texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10vh 0;
  }
  .texts__item {
    width: 30%;
    margin: 0;
  }

  .projects {
    margin-top: 0;
    margin-bottom: calc(10vh - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__title {
    width: 30%;
    margin-bottom: 20px;
  }
  .projects__title__text {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
  .projects__list {
    width: 65%;
  }

  .project {
    width: 46%;
  }
}

@media screen and (min-width: 1200px) {
  .frame {
    padding: 0 10vw;
    max-width: 1500px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
